/* fondo general */

body{
background: linear-gradient(135deg,#dbeafe,#e0f2fe);
font-family: Arial, Helvetica, sans-serif;
margin:0;
color:#1e293b;
}

/* header */

header{
background:#38bdf8;
color:white;
text-align:center;
padding:20px;
}

/* navbar */

nav{
background:#0ea5e9;
padding:12px;
}

nav ul{
display:flex;
justify-content:center;
gap:25px;
list-style:none;
margin:0;
padding:0;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#e0f2fe;
}

/* contenedor */

.container{
display:flex;
justify-content:center;
margin-top:40px;
}

/* contenido */

.main-content{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
width:450px;
}

/* botones */

button{
background:#38bdf8;
color:white;
border:none;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
transition:all 0.3s ease;
}

button:hover{
background:#0ea5e9;
transform:scale(1.05);
}

/* footer */

footer{
text-align:center;
padding:20px;
margin-top:40px;
background:#38bdf8;
color:white;
}
/* LOGIN */

.login-body{
background: linear-gradient(135deg,#dbeafe,#e0f2fe);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;
}

.login-container{
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
width:300px;
text-align:center;
}

.login-container h2{
margin-bottom:20px;
color:#0369a1;
}

.login-container label{
display:block;
margin-top:15px;
text-align:left;
font-weight:bold;
color:#475569;
}

.login-container input{
width:100%;
padding:10px;
margin-top:5px;
border-radius:6px;
border:1px solid #cbd5f5;
}

.login-btn{
margin-top:20px;
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#38bdf8;
color:white;
font-size:16px;
cursor:pointer;
transition:all 0.3s ease;
}

/* animación botón */

.login-btn:hover{
background:#0ea5e9;
transform:scale(1.05);
box-shadow:0 5px 15px rgba(14,165,233,0.4);
}

.login-btn:active{
transform:scale(0.95);
}

.error{
color:red;
margin-top:10px;
font-size:14px;
}

/* tarjetas juegos */

.main-content article{
background:#fff7ed;
padding:15px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:transform 0.3s;
}

.main-content article:hover{
transform:scale(1.05);
}

.main-content img{
width:100%;
border-radius:8px;
margin-top:10px;
}

/* animación Vue */

.cards-enter-active{
transition:all 0.6s ease;
}

.cards-enter-from{
opacity:0;
transform:translateY(30px);
}